<appSettings>
  
  <!--App URL-->
  <add key="iBank_URL" value="https://ibank.bcu.com.au/ibankuatNPP/"></add> <!--URL-->
  <!--Main Page Elements-->
  <add key="MainPage_Login_Link" value="//a[@href='javascript:opennewwindow();']/i"></add>
  
  <!--Login Page Elements-->
  <add key="Login_Username_Txt" value=".//*[@id='ctl00_c_userName']"/>  <!--Username-->
  <add key="Login_Password_Txt" value=".//*[@id='ctl00_c_ucPassword_txtPinPad']"></add> <!--Password-->
  <add key="Login_Login_Btn" value=".//*[@id='ctl00_c_btnSignOn']"></add> <!--Login Button-->

  <!--DashBoard Elements-->
  <add key="Dashboard_PayBillviaBPAY_Link" value=".//*[@id='ctl00_c_WebPartManager1_gwpQuicklinks1_Quicklinks1_quicklinkLink2']"/>
  
  <!--BPAY Elements-->
    <add key="BPAY_PayFrom" value=".//*[@id='ctl00_c_FROMACCOUNT']"></add> <!--From Account-->
    <add key="BPAY_Payee" value=".//*[@id='ctl00_c_PAYEE']"></add>  <!--Select Biller-->

<add key="BPAY_Reference" value="//table//td[@class='stText']/input[@name='BPAYREF']"/> <!--Reference-->
  <add key="BPAY_Amount" value=".//*[@id='ContentTableTD']/table//input[@name='AMOUNT']"/>     <!--Amount-->
 <add key="BPAY_When_TransferNow" value="//table//label[contains(text(),'Transfer now')]"/> <!--When-->

<add key="BPAY_When_Once On_DatePicker" value=".//*[@id='ctl00_c_TransferTiming_DateOnce']"/> <!--Once On-->
  <add key="BPAY_When_Recrring_Frequency" value=".//*[@id='ctl00_c_TransferTiming_ddlRecur']"/> <!--Select Frequency-->
  <add key="BPAY_NoEndDate_RBtn" value="//table//label[contains(text(),'No end date')]"/>   <!--No End Date-->
<add key="BPAY_EndAfter_RBtn" value="//*[@id='ctl00_c_TransferTiming_pnlRecur']/table//label[contains(text(),'End after')]"/> <!--End After Button-->
<add key="BPAY_EndAfter_Payments" value="//*[@id='ctl00_c_TransferTiming_txtNumRepay']"></add>  <!--End After n Payments-->
<add key="BPAY_EndOn_RBtn" value="//*[@id='ctl00_c_TransferTiming_pnlRecur']/table//label[contains(text(),'End on')]"/> <!--End On Button-->
<add key="BPAY_EndOn_Input" value=".//*[@id='ctl00_c_TransferTiming_DateEnd']"/>   <!--Date End Date Picker-->
  <add key="BPAY_Next_Btn"   value=".//*[@id='ctl00_c_img3']"/> <!--Next Button-->

</appSettings>    